In [14]:
import pandas as pd
import re

In [25]:
csv_file_path = r"C:\Users\bharg\Downloads\orders_export_13_12_v2.csv"
output_file = r"C:\Users\bharg\Downloads\print_labels_13_12_v2_temp.csv"

In [26]:
input_df = pd.read_csv(f"{csv_file_path}")

In [27]:
input_df.columns

Index(['Name', 'Email', 'Financial Status', 'Paid at', 'Fulfillment Status',
       'Fulfilled at', 'Accepts Marketing', 'Currency', 'Subtotal', 'Shipping',
       'Taxes', 'Total', 'Discount Code', 'Discount Amount', 'Shipping Method',
       'Created at', 'Lineitem quantity', 'Lineitem name', 'Lineitem price',
       'Lineitem compare at price', 'Lineitem sku',
       'Lineitem requires shipping', 'Lineitem taxable',
       'Lineitem fulfillment status', 'Billing Name', 'Billing Street',
       'Billing Address1', 'Billing Address2', 'Billing Company',
       'Billing City', 'Billing Zip', 'Billing Province', 'Billing Country',
       'Billing Phone', 'Shipping Name', 'Shipping Street',
       'Shipping Address1', 'Shipping Address2', 'Shipping Company',
       'Shipping City', 'Shipping Zip', 'Shipping Province',
       'Shipping Country', 'Shipping Phone', 'Notes', 'Note Attributes',
       'Cancelled at', 'Payment Method', 'Payment Reference',
       'Refunded Amount', 'Vendor', 'Outstanding Balance', 'Employee',
       'Location', 'Device ID', 'Id', 'Tags', 'Risk Level', 'Source',
       'Lineitem discount', 'Tax 1 Name', 'Tax 1 Value', 'Tax 2 Name',
       'Tax 2 Value', 'Tax 3 Name', 'Tax 3 Value', 'Tax 4 Name', 'Tax 4 Value',
       'Tax 5 Name', 'Tax 5 Value', 'Phone', 'Receipt Number', 'Duties',
       'Billing Province Name', 'Shipping Province Name', 'Payment ID',
       'Payment Terms Name', 'Next Payment Due At', 'Payment References'],
      dtype='object')

In [28]:
input_df = input_df[['Name', 'Lineitem name', 'Lineitem quantity']]
input_df = input_df[input_df['Lineitem name'].str.contains('Decant', 'decant')]
df_expanded = input_df.loc[input_df.index.repeat(input_df['Lineitem quantity'])].reset_index(drop=True)

In [29]:
def process_name(default_name):
    print_name = default_name.lower().split('for')[0].strip()
    return print_name.title()

In [37]:
def extract_quantity(text):
    """
    Extract quantity (e.g., 5ml, 10ml) from text.
    Returns normalized format: "NUMBER ML"
    """
    pattern = r'\b(\d+)\s*(ml)\b'
    
    match = re.search(pattern, text, re.IGNORECASE)
    
    if match:
        number = match.group(1)
        unit = match.group(2).upper()
        normalized = f"{number} {unit}"
        return normalized
    
    return ''

In [38]:
input_df = df_expanded[['Name', 'Lineitem name']]

input_df['print_name'] = input_df['Lineitem name'].apply(process_name)
input_df['quantity'] = input_df['Lineitem name'].apply(extract_quantity)
input_df = input_df[input_df['print_name'] != 'Partial Payment'].reset_index(drop=True)

In [39]:
input_df

,Name,Lineitem name,print_name,quantity
0,#4482,Lattafa Teriaq Intense EDP for Men & Women Dec...,Lattafa Teriaq Intense Edp,5 ML
1,#4482,Afnan Supremacy Not Only Intense EDP for Men D...,Afnan Supremacy Not Only Intense Edp,5 ML
2,#4482,Khadlaj Island Vanilla Dunes Extrait De Parfum...,Khadlaj Island Vanilla Dunes Extrait De Parfum,5 ML
3,#4482,Ahmed Al Maghribi Laathani EDP for Men And Wom...,Ahmed Al Maghribi Laathani Edp,5 ML
4,#4482,Fragrance World Coffee Collection Mocha EDP fo...,Fragrance World Coffee Collection Mocha Edp,5 ML
...,...,...,...,...
81,#4509,Lattafa Ana Abiyedh Poudrée EDP for Women Deca...,Lattafa Ana Abiyedh Poudrée Edp,20 ML
82,#4509,Lattafa Her Confession EDP for Women Decant - ...,Lattafa Her Confession Edp,20 ML
83,#4509,Afnan Mystique Bouquet EDP For Women Decant - ...,Afnan Mystique Bouquet Edp,20 ML
84,#4509,Lattafa Mayar EDP for women Decant - 20ml Decant,Lattafa Mayar Edp,20 ML
85,#4509,Lattafa Victoria EDP For Women - 20ml Decant,Lattafa Victoria Edp,20 ML

In [33]:
input_df.to_csv(output_file)